/*------------------------------------*\
	COMMONS CLASSES
\*------------------------------------*/

html, body
{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6
{
    margin-bottom: 1.1em;
}

h1
{
    font-size: 5em;
    color: #fff;
    margin-bottom: 0em;
}
h4
{
    font-size: 2em;
    color: #fff;
}
.blog,
.gallery,
.clients,
.prefooter .container-fluid
{
    padding-top: 6em;
    padding-bottom: 7em;
}
span.typcn::before, i.typcn::before
{
    font-size: 2em;
}

span.x2:before, i.x2:before
{
    font-size: 3.4em;
}

span.x3:before, i.x3:before
{
    font-size: 4.4em;
}

span.x4:before, i.x4:before
{
    font-size: 6em;
}

span.circle
{
    display: block;
    line-height: 120px;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    background-color: #49c9f5;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
header span.hamburger{
        font-size: 3em;
        padding-left: 20px;
    }
.logo-circle{
    width: 350px;
    height: auto;
    visibility: visible;
    display: inline !important;
}

header h5{
    padding-left: 10%;
}

header img{
    margin: 0 auto;
}

header .header-download{
    color: #555;
    margin-top: 15%;
    font-size: 1.5em;
}

header .header-download hr{
    border: 0; 
    height:3px; 
    width: 80px; 
    background: #aaa;
    margin-bottom: 10%;
}

header .header-download img{
    display: inline-block;
    margin: 10px;
}

header .header-download h5{
    max-width: 500px;
    margin: 0 auto;
    font-size: 2em;
    text-align: left;
    padding-left: 25px;
    padding-bottom: 50px;
    font-family: "Helvetica Neue Thin", sans-serif;

    letter-spacing: 2px;
}

header .header-download p{
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5em;
    text-align: left;
    padding-bottom: 0px;
    text-transform: uppercase;
    padding-left: 25px;
    font-weight: bold;
}
header img.youplus-slogan{
    margin-top: 10%;
}

header img.youplus-black{
    visibility: visible;
    display: inline !important;
}
header img.youplus-black-full{
    visibility: hidden;
    display: none !important;
}

@media only screen and (min-width: 1202px) and (max-width: 1400px) 
{
    .logo-circle{
        width: 300px;
        height: auto;
    }
    header .header-download{
    font-size: 1.2em;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1202px) 
{
    .logo-circle{
        width: 250px;
        height: auto;
    }
    .iphone-mockup{
        width: 250px;
        height: auto;
    }
    header .header-download{
    font-size: 1.2em;
    }
    header .header-download p{
        text-align: center;
        padding-left: 0px;
    }
}
@media only screen and (min-width: 1020px) and (max-width: 1024px) 
{
    .logo-circle{
        width: 250px;
        height: auto;
    }
    .iphone-mockup{
        width: 250px;
        height: auto;
    }
    header .header-download{
        font-size: 1.2em;
        margin-top: 20%;
    }
    header .header-download p{
        text-align: center;
        padding-bottom: 10px;
        padding-left: 0px;
    }
    header img.youplus-slogan{
        margin-top: 20%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) 
{
    .logo-circle{
        visibility: hidden;
        display: none !important;
    }
    .iphone-mockup{
        width: 250px;
        height: auto;
    }
    header .header-download{
        font-size: 1.2em;
        margin-top: 20%;
    }
    header .header-download p{
        text-align: center;
        padding-bottom: 10px;
        padding-left: 0px;
    }
    header img.youplus-slogan{
        margin-top: 20%;
    }
    header img.youplus-black{
        visibility: hidden;
        display: none !important;
    }
    header img.youplus-black-full{
        visibility: visible;
        display: inline !important;
    }

}

@media only screen and (max-width: 768px) 
{
    .iphone-mockup{
        width: 220px;
        height: auto;
        margin-right: 0px;
    }
    .col-md-6{
        padding:0;
    }
    .offer-redeemed-number{
        float: right;
        padding-top: 150px;
    }
    span.circle
    {
        line-height: 80px;
        height: 80px;
        width: 80px;
        border-radius: 40px;
        -moz-border-radius: 40px;
    }
    span.x3:before, i.x3:before
    {
        font-size: 3em;
    }
    header span.hamburger{
        font-size: 1.8em;
        padding-left: 0px;
    }
    header h5{
        padding-left: 0%;
    }
    header .header-download{
        font-size: 0.8em;
        margin-top: 30%;
    }
    header img.youplus-slogan{
        margin-top: 20%;
    }
    header img.youplus-black{
        visibility: hidden;
        display: none !important;
    }
    header img.youplus-black-full{
        visibility: visible;
        display: block !important;
        margin-top: 50%;
    }
    header .header-download p{
        padding-left: 2%;
    }
    header .header-download img{
        margin-left: 0;
        margin-bottom: 0;
    }
    .logo-circle{
        visibility: hidden;
        display: none !important;
    }

}

/*------------------------------------*\
	HEADER
\*------------------------------------*/

header .container-fluid
{
    background-image: url('images/header1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0px;
}

header .container-header
{
    background-color: #faf7f1 ;
    background-size: cover;
    height: 100vh;
    padding-top: 36px;
}

header .carousel, .carousel-inner, .item, .active
{
    height: 100vh;
    width: auto;
}

header .carousel-inner > .item > img, .carousel-inner > .item > a > img
{
    height: 100vh;
    width: 55vw;
    max-width: 55vw;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

header .carousel-caption h3
{
    color: #fff;
    margin-bottom: 5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6)
}

header .carousel-caption p
{
    color: #fff;
    margin-bottom: 20px;
}

.hamburger
{
    font-size: 2.3em;
    color: #fff;
}

.hamburger:hover
{
  color: #49c9f5;
  cursor: pointer;
}


.logo
{
    background: none;
    border: 0px;
}

#over
{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center; /*handles the horizontal centering*/
    z-index: 3;
}
/*handles the vertical centering*/
.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.Centered
{
    display: inline-block;
    vertical-align: middle;
}


input[type="text"] 
{
    width: 380px;
    height: 70px;
    padding-right: 50px;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 20px;
    outline: none;
}

.button 
{
    margin-left: -180px;
    height: 70px;
    width: 180px;
    background-color: #49c9f5;
    color: white;
    border: none;
    text-align: center;
    -webkit-appearance: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
}


@media only screen and (min-width: 992px) and (max-width: 1100px) 
{
    header h5{
        font-size: 1.3em;
        line-height: 1.5em;
    }
}


@media only screen and (max-width: 992px) 
{
    header .col-xs-6{
        padding-left: 0px;
        padding-right: 0px;
    }
    header .col-md-10{
        margin-right: 0px;
        padding-right: 50px;
    }
    header h5{
        font-size: 1em;
        line-height: 1.5em;
    }
    header .logo{
        padding-right: 20px;
    }
    header p{
        line-height: 1.2em;
        padding-bottom: 20px;
    }
    h2{
        font-size: 2em;
    }
    #how p{
        font-size: 1em;
        line-height: 1.2em;
    }
}

@media only screen and (max-width: 400px) 
{
    header h5{
        font-size: 0.8em;
        line-height: 1.2em;
    }
    header .header-download{
        font-size: 0.6em;
    }
    header img.youplus-black-full{
        max-width: 120px;
    }
}

/*------------------------------------*\
	SECTIONS
\*------------------------------------*/
#how .container{
    padding-top: 6em;
    padding-bottom: 7em;
}

#how p{
    color: #8b8b8b;
    font-size: 1.2em; 
    line-height: 1.5; 
    padding-bottom: 20px;
    font-weight: lighter;
}
#how h3{
    font-family: "Raleway";
    font-weight: bold;
    margin-bottom: 0em;
    margin-top: 1em;
}
#how h5{
    font-family: "raleway";
}
#how .col-md-6{
    padding:0;
}
#how .how-text-right{
    padding: 5%;
    text-align: left;
}
#how .how-text-left{
    padding: 5%;
    text-align: right;
}
#how hr {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 0;
    width: 50px;
    border-top: 3px solid #ccc;
}


.offer-redeemed-number
{
    margin-top: 30%;
}

.number .container-fluid
{
    background-image: url('images/offer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

img.iphone-mockup
{
    max-width:320px;
    height:auto;
    -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    animation-delay: 0.5s;
}
img.download-button
{
    margin-bottom:10px;
    display: inline-block;
}

.opaline
{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(128, 215, 247, 0.660);
}

.opaline h1,
.opaline h2,
.opaline h3,
.opaline h4,
.opaline h5,
.opaline h6,
.opaline p
{
    color: #FFFFFF;
}

.opaline .boxes
{
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    border: 1px solid #FFF;
}

.boxes .odometer.odometer-theme-default
{
  font-family: 'Roboto Slab', serif;
}

.prefooter .container-fluid
{
    background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url('images/download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.prefooter h1,
.prefooter h2,
.prefooter h3,
.prefooter h4,
.prefooter h5,
.prefooter h6,
.prefooter p
{
    color: #FFFFFF;
}

@media screen and (min-width:768px) and (max-width:1200px){

    #how .how-text-right{
        padding: 3%;
        padding-left: 5%;
    }
    #how .how-text-left{
        padding: 3%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 992px)
{
    #how p{
        font-size: 1em;
        line-height: 1.2em;

    }
    #offer-redeemed h1{
        font-size: 4em;
    }
    #partners img{
        max-width: 60%;
        height: auto;
    }
    #partner{
        padding-bottom: 0em;
    }
}

/*------------------------------------*\
	FOOTER
\*------------------------------------*/

footer
{
    background-color: #404040;
    padding-top: 4em;
    padding-bottom: 4em;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer p
{
    color: #afafaf;
    margin-bottom: 0px;
    line-height: 1.5; 
    padding-top: 10px;
}
footer i
{
    font-size: 1.5em;
    margin-right: 20px;
}
.social
{
    padding-top: 0px;
}

@media only screen and (max-width: 992px) 
{
    footer i
    {
        font-size: 1em;
        margin-right: 10px;
    }
    footer p{
        font-size: 0.8em;
    }
    footer .col-xs-6, footer .col-sm-4{
        padding-right: 0px;
        padding-left: 30px;
    }

}

@media screen and (max-width:640px) and (orientation:landscape)
{
    header h5, header hr, header p{
        display: none;
    }
    header img{
        width: 180px;
        height: auto;
    }
    header img.download{
        width: 130px;
        height: auto;
    }
    header .container-header{
        padding-top: 20px;
    }

    .offer-redeemed-number{
        padding-top: 0px;
    }
    #download .container-fluid{
        padding-top: 0em;
    }
    header .header-download{
        margin-top: 6%;
    }
    header img.youplus-black{
        visibility: visible;
        display: block !important;
    }
    header img.youplus-black-full{
        visibility: hidden;
        display: none !important;
    }
    header img.youplus-slogan{
        margin-top: 6%;
    }
    header .header-download img{
        margin: 0;
    }
}

@media screen and  (min-width:641px) and (max-width:730px) and (orientation:landscape)
{
    header h5, header hr, header p{
        display: none;
    }
    header img{
        width: 200px;
        height: auto;
    }
    header img.download{
        width: 150px;
        height: auto;
    }
    header .container-header{
        padding-top: 20px;
    }

    .offer-redeemed-number{
        padding-top: 0px;
    }
    #download .container-fluid{
        padding-top: 0em;
    }
    header .header-download{
        margin-top: 6%;
    }
    header img.youplus-black{
        visibility: visible;
        display: block !important;
    }
    header img.youplus-black-full{
        visibility: hidden;
        display: none !important;
    }
    header img.youplus-slogan{
        margin-top: 6%;
    }
    header .header-download img{
        margin: 0;
    }
}

@media screen and (min-width:731px) and (max-width:992px) and (orientation:landscape)
{
    header h5, header hr, header p{
        display: none;
    }
    header img{
        width: 200px;
        height: auto;
    }
    header img.download{
        width: 150px;
        height: auto;
    }
    header .container-header{
        padding-top: 20px;
    }

    .offer-redeemed-number{
        padding-top: 0px;
    }
    #download .container-fluid{
        padding-top: 0em;
    }
    header .header-download{
        margin-top: 10%;
    }
    header img.youplus-black{
        visibility: visible;
        display: block !important;
        margin-top:15%;
    }
    header img.youplus-black-full{
        visibility: hidden;
        display: none !important;
    }
    header img.youplus-slogan{
        margin-top: 8%;
    }
    header .header-download img{
        margin: 0;
    }
}
